/*
 * Author : fatoni.work@gmail.com
 */

/*ALL ABOUT FORM*/
/* label color */
.input-field label {
	color: #ff7043;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #f4511e ;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #f4511e ;
}

/* label focus color */
.input-field input[type=password]:focus + label {
	color: #f4511e ;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}

.input-field { margin-top: 0.5rem; }
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 10px 0;
	padding: 0;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	transition: all .3s;
}
.input-field label{ font-size: 13px; }

.error { position: absolute; top: 0.8rem; right: 0.75rem; text-align:right; color:#ef5350!important; }

.dropdown-content li span{ font-size:12px; padding:5px; color:#313131; }


/*ALL ABOUT BG*/
.bgpic{ background-position:center; background-repeat:no-repeat; background-size:cover; }
.bgpic:after { position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 0; }
.bgpic:after { content: ''; background: transparent url(../images/comp/pattern.png) repeat top left; }
.bgop{ width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.3); }

/*ALL ABOUT DEFAULT IMAGE*/
.logo{ width:125px; margin:7.5px 0; }
.userdum{ width:40px; height:40px; border-radius:100%; border:1px solid #efefef; }

/*ALL ABOUT DEFAULT COLOR TEXT*/
.text-green{ color:#43a047!important; }
.text-red{ color:#f44336!important; }