@media (max-width: 800px) {

}

@media (max-width: 768px) {
	.signin{ margin:10% 5% 0 5%; }
}

@media (max-width: 600px) {
	.head{ padding:10px 8px 8px 8px; }
	.signup text{ display:none; }
	.note{ margin:8px 5% 12px 5%;}
	.bgpic{ width:100%; height:auto; background-color: #783033; }
	.footer{ position:relative; margin:15px 0; }
}

@media (max-width: 481px) {

}


