
/*
 * Author : fatoni.work@gmail.com
 */

/*ALL ABOUT FORM*/
.input-field{ margin-bottom:16px; }
.input-field .label-stock{ margin:0 0 5px 0;}

/* label color */
.input-field label {
	color: #565a5c!important;
	font-size:15px;
}
.input-field label.active {
	color: #565a5c!important;
	font-size:14px;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #565a5c ;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #565a5c ;
	box-shadow: 0 1px 0 0 #565a5c ;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #565a5c ;
	box-shadow: 0 1px 0 0 #565a5c ;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #565a5c ;
	box-shadow: 0 1px 0 0 #565a5c ;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #565a5c ;
}

/* label focus color */
.input-field input[type=password]:focus + label {
	color: #565a5c ;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #565a5c ;
	box-shadow: 0 1px 0 0 #565a5c ;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #565a5c ;
	box-shadow: 0 1px 0 0 #565a5c ;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #565a5c ;
	box-shadow: 0 1px 0 0 #f4511e ;
}

.input-field { margin-top: 0.5rem; }
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 10px 0;
	padding: 0;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	transition: all .3s;
}
input.valid[type="text"], input.valid[type="text"]:focus, input.valid[type="password"], input.valid[type="password"]:focus, input.valid[type="email"], input.valid[type="email"]:focus, input.valid[type="url"], input.valid[type="url"]:focus, input.valid[type="time"], input.valid[type="time"]:focus, input.valid[type="date"], input.valid[type="date"]:focus, input.valid[type="datetime-local"], input.valid[type="datetime-local"]:focus, input.valid[type="tel"], input.valid[type="tel"]:focus, input.valid[type="number"], input.valid[type="number"]:focus, input.valid[type="search"], input.valid[type="search"]:focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus {
    background-color: transparent;
    border-bottom: 1px solid #565a5c;
    box-shadow: 0 1px 0 0 #565a5c;
}
.input-field label{ font-size: 14px; }
.input-field p { color:#aaa; padding-left: 50px;}
.input-field.table { padding:0 12px 0 0; }
.error { position: absolute; top: 0.8rem; right: 0.75rem; text-align:right; color:#ef5350!important; }
.input-field label.error { position: absolute; top: 0.8rem; right: 0.75rem; text-align:right; color:#ef5350!important; }
.error-chosen{ position: relative!important; top: 0; right:0; text-align:right; }
.notif-error{ position: relative; padding:8px 0 10px 0; text-align:center; color:#ef5350!important;  }
.error-image{ position: relative!important; color:#ef5350!important; top:-5px!important;}
#recaptcha_response_field{ height:1rem!important; background: #fff; }

label{ font-size: 14px; color: #565a5c; }

.select-wrapper input.select-dropdown{ position: relative!important; z-index:1!important; font-size:14px!important; }
.chosen-container{ margin:0 0 16px 0; }
.chosen-drop{ z-index:1020!important; }

.dropdown-content{ z-index:999!important; }
.dropdown-content.active{ z-index:1001!important; }
.dropdown-content li a{ font-size:14px; }
.dropdown-content li span{ font-size:14px; padding:5px; color:#313131; }
.lectfilter { position: relative; z-index:999; }
.lectfilter input{ font-size:12px!important; margin:0!important; height:35px!important; line-height:35px!important; border:1px solid #9e9e9e!important; padding:0 5px!important; }
.button-field{ padding:7.5px 0 0 0!important; }
.btn-xs{ width: 24px; height: 24px; line-height: 24px; }
.btn-xs i{ line-height: 24px; font-size:14px; }

.nolpad{ padding:0px!important; }
.nolmar{ margin:0px!important; }
.nolautomar{ width:60%; margin:0 auto!important; }
.label{ color:#fff; padding:4px 5px; border-radius:2px; position: absolute; right:0; top:15px; } 

.checkiniabs{ position: absolute; z-index:998; top:2px; left:2px; }
.delimg{ position: absolute; z-index:998; top:0px; right:2px; font-size:14px; cursor:pointer; color:#ef5350; }
.delimg:hover{ font-size:25px; color:#e53935; }
.input-field .card { margin:5px; box-shadow:none; }
.card { margin:5px; }
.card .card-title { font-size: 14px; }
.card-image img{ height:150px; }
.notacard { box-shadow:none; border: 1px solid #ddd; }
.notacard .collapsible{ box-shadow:none; }
.tool a{ border: 1px solid #ddd;  background: #fff; }
.tool a:hover{ background: #efefef;}
.tool a i{ font-size:20px; }
.toolb a{ border: 1px solid #ddd;  background: #fff; padding:0 8px; }
.toolb a:hover{ background: #efefef;}
.toolb a i{ font-size:20px; }
.checkallbox{ margin:12px 0 0 0;}
.checkallboxnota{ margin:12px 0 0 22px; width:30px; }
.checkitem{ padding:0!important; margin:0!important; }
.boderrander{ border: 1px solid #ddd; box-shadow: none!important; }

/*ALL ABOUT BG*/
.bgpic{ background-position:center; background-repeat:no-repeat; background-size:cover; background-color: #313131; }
/*.bgpic:after { position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 0; }
.bgpic:after { content: ''; background: transparent url(../images/comp/pattern.png) repeat top left; }*/
.bgop{ width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.3); }

/*ALL ABOUT DEFAULT IMAGE*/
.logo{ width:125px; margin:7.5px 0; }
.userdum{ width:40px; height: 40px !important; border-radius:100%; border:1px solid #efefef; }
.userimg{ border:1px solid #efefef;}
.div-circle-logo{ margin-top: 10px!important; }
.circle-logo{ border-radius: 50%;width: 100px;height: 100px;text-align: center; border: 1px solid #eee;}
.img-product{ height:100px; }
.prordercrop{ height:160px; border:1px solid #efefef; overflow: hidden; }
.prordercrop img{ width: 100%; }

/*ALL ABOUT DEFAULT COLOR TEXT*/
.text-green{ color:#43a047!important; }
.text-red{ color:#f44336!important; }

/*ALL ABOUT PAGINATION*/
.pagination li a{ font-size:12px; padding:8px 10px; }
.pagination li a i{ font-size:18px; } 

/*ALL ABOUT MODAL*/
.modal{ overflow: hidden!important; max-height: 100%!important;}
.modal.confirmation { max-width:350px; border-radius:none;  }
.modal .modal-header{ height:45px; padding:0 5px; line-height:45px; color:#fff; font-size:18px; }
.modal .modal-header i{ font-size:34px; }
.modal .modal-content .select-dropdown{ z-index:1000; }

.datetime {width: 100%;border-top: 1px solid #ccc;text-align: center;margin: 10px 0;}
.datetime p{margin: -13px auto 0;background: #fff; padding: 0 10px;display: table; font-size: 16px;}

.pesanku {display: block;background: #546e7a;color: #fff; padding: 10px 15px; border-radius: 10px;float: left;font-size: 14px;max-width: 90%;}
.pesanmu {display: block;background: #ff5722;color: #fff; padding: 10px 15px; border-radius: 10px;float: right;font-size: 14px;max-width: 90%;}

.pesanku img{width: 300px;}
.pesanmu img{width: 300px;}

.content-balasan { background: #f5f5f5; overflow: hidden;padding: 20px 0px; border-radius: 2px;}
.content-balasan textarea{height: 100px; }

.vote{ line-height: 15px; }
.labelbudge{ padding:5px; border-radius:2px; color:#fff; }

.collapsible-body .dl-horizontal { padding:25px!important; }

.bajindul { z-index:1000 !important; }

.tabs li a.active > i{ color:#EE6E73!important; }

#dua .card{ box-shadow:none!important; border:1px solid #ccc; }
.card-reveal{ font-size:12px!important;}

@media (min-width: 500px) {
	.dl-horizontal dt { float: left; width: 50%; overflow: hidden; clear: left; text-align: right; text-overflow: ellipsis; white-space: nowrap; }
	.dl-horizontal dd { margin-left: 55%; text-align: right; }
	.dl-horizontal dd:before,
	.dl-horizontal dd:after { display: table; content: " "; }
	.dl-horizontal dd:after { clear: both; }
	.dl-horizontal dd:before,
	.dl-horizontal dd:after { display: table; content: " "; }
	.dl-horizontal dd:after { clear: both; }
	.fontbig{ font-size:18px!important; }
}
@media (max-width: 500px) {
	.dl-horizontal dd { text-align: right; }
	.fontbig{ font-size:14px!important; }
}