
/*
 * Author : fatoni.work@gmail.com
 */

/*ALL ABOUT FORM*/
/* label color */
.input-field label {
	color: #ff7043;
	font-size:15px;
}
.input-field label.active {
	color: #ff7043;
	font-size:14px;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #f4511e ;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #f4511e ;
}

/* label focus color */
.input-field input[type=password]:focus + label {
	color: #f4511e ;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #f4511e ;
	box-shadow: 0 1px 0 0 #f4511e ;
}

.input-field { margin-top: 0.5rem; }
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 10px 0;
	padding: 0;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	transition: all .3s;
}
.input-field label{ font-size: 14px; }
.input-field p { color:#aaa; padding-left: 50px;}
.input-field.table { padding:0 12px 0 0; }
.error { position: absolute; top: 0.8rem; right: 0.75rem; text-align:right; color:#ef5350!important; }
.error-chosen{ position: relative!important; top: 0; right: 0.75rem; text-align:right; }
.notif-error{ position: relative; padding:8px 0 10px 0; text-align:center; color:#ef5350!important;  }

.select-wrapper input.select-dropdown{ position: relative!important; z-index:1!important;}

.dropdown-content{ z-index:999!important; }
.dropdown-content.active{ z-index:1001!important; }
.dropdown-content li a{ font-size:14px; }
.dropdown-content li span{ font-size:14px; padding:5px; color:#313131; }
.lectfilter { position: relative; z-index:999; }
.lectfilter input{ font-size:12px!important; margin:0!important; height:35px!important; line-height:35px!important; border:1px solid #9e9e9e!important; padding:0 5px!important; }
.button-field{ padding:7.5px 0 0 0!important; }
.btn-xs{ width: 24px; height: 24px; line-height: 24px; }
.btn-xs i{ line-height: 24px; font-size:14px; }

.nolpad{ padding:0px!important; }
.label{ color:#fff; padding:4px 5px; border-radius:2px; position: absolute; right:0; top:15px; } 

.checkiniabs{ position: absolute; z-index:998; top:2px; left:2px; }
.delimg{ position: absolute; z-index:998; top:0px; right:2px; font-size:14px; cursor:pointer; color:#ef5350; }
.delimg:hover{ font-size:25px; color:#e53935; }
.card { margin:5px; }
.card .card-title { font-size: 14px; }

/*ALL ABOUT BG*/
.bgpic{ background-position:center; background-repeat:no-repeat; background-size:cover; }
/*.bgpic:after { position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 0; }
.bgpic:after { content: ''; background: transparent url(../images/comp/pattern.png) repeat top left; }*/
.bgop{ width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.3); }

/*ALL ABOUT DEFAULT IMAGE*/
.logo{ width:125px; margin:7.5px 0; }
.userdum{ width:40px; height:40px; border-radius:100%; border:1px solid #efefef; }
.userimg{ border:1px solid #efefef;}
.div-circle-logo{margin-top: 10px;}
.circle-logo{border-radius: 50%;width: 100px;height: 100px;text-align: center;border: 1px solid #eee;}
.img-product{ height:160px; }

/*ALL ABOUT DEFAULT COLOR TEXT*/
.text-green{ color:#43a047!important; }
.text-red{ color:#f44336!important; }

/*ALL ABOUT PAGINATION*/
.pagination li a{ font-size:12px; padding:8px 10px; }
.pagination li a i{ font-size:18px; } 

/*ALL ABOUT MODAL*/
.modal.confirmation { max-width:350px; border-radius:none;  }
.modal .modal-header{ height:45px; padding:0 5px; line-height:45px; color:#fff; font-size:18px; }
.modal .modal-header i{ font-size:34px; }
.modal .modal-content .select-dropdown{ z-index:1000; }

.datetime {width: 100%;border-top: 1px solid #ccc;text-align: center;margin: 10px 0;}
.datetime p{margin: -13px auto 0;background: #fff; padding: 0 10px;display: table; font-size: 16px;}

.pesanku {display: block;background: #546e7a;color: #fff; padding: 10px 15px; border-radius: 10px;float: left;font-size: 14px;max-width: 90%;}
.pesanmu {display: block;background: #ff5722;color: #fff; padding: 10px 15px; border-radius: 10px;float: right;font-size: 14px;max-width: 90%;}

.pesanku img{width: 300px;}
.pesanmu img{width: 300px;}

.content-balasan {background: #eceff1 ;overflow: hidden;padding: 20px 0px;border-radius: 10px;}
.content-balasan textarea{height: 100px; }

.vote{ line-height: 15px; }
.navmob 
