@media (max-width: 800px) {

}

@media (max-width: 768px) {
	.signin{ margin:10% 5% 0 5%; }
}

@media (max-width: 600px) {
	body{ font-size:12px; }

	/*DEFAULT*/
	.containermain{ width:95%; margin:0 auto; }

	/*HEADER*/
	.head{ padding:10px 8px 8px 8px; }

	/*CONTENT*/
	.col-signin{ margin:0 auto 0 auto;}
	.signup text{ display:none; }
	.signin{ margin:5% 0% 0 0%; }
	.note{ margin:8px 1% 12px 1%; font-size:12px;}
	.titlin{ font-size:18px; }
	.nolautomar{ width:90%!important; margin:0 auto; }
	
	/*FOOTER*/
	.footer{ position:relative; margin:15px 0; }
	.footer a{ font-size:10px; }

	/*COMPONENT*/
	.bgpic{ width:100%; height:auto; background-color: #313131; }
	.img-product{ height:140px!important; }
	
}

@media (max-width: 481px) {

	/*HEADER*/
	.usermain{ display:none; }
	.navmenu li{ display:none; }
	.navmenu li.active{ display:block; width:100%; background-color:#616161; }
	.navmenu li.active a{ border-bottom: 4px solid #ff6600; }
	.navmob{ display:block; }
	.navmob li .badge{ color:#fff; border-radius:2px; }
	.menu-left .fa{ font-size:34px; margin: 12px 0 0 -25px; color:#818181; }
	.padhead { padding:0; }

	.mobleft{ overflow: hidden; }
	.mobleft li{ width:100%; }
	.mobleft li a{ height:50px; font-size:14px; line-height:35px; }
	.mobleft li a:hover{ border-left:5px solid #ff6600;}

	.usermob{ border-bottom: 1px solid #313131; }
	.usermob .usermain{ display:block; margin:5px; }
	.usermob .usermain text{ float:left;  margin:0 5px; font-size:13px; color:#fff; }

	.formbody{ padding:5px 5px 0 5px; }
	.notacard{ padding:8px; }

	.center-mobile {text-align: center;float: none;}	


	/*COMPONENT*/
	.input-field p{ padding-left: 0px!important; }
	#divCustomCourier{ margin-left: 0px!important; }
	#divCustomCourier div .input-field .btn{ width:100%; text-align: left; }

}


