/*
 * Author : fatoni.work@gmail.com
 */
 
@charset "utf-8";
@font-face{
    font-family: 'proximanova-regular';
    src: url('../fonts/proximanova/proximanova-regular.eot');
    src: url('../fonts/proximanova/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova/proximanova-regular.woff2') format('woff'),
         url('../fonts/proximanova/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-regular.svg#proximanova-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'helveticaneuecond';
    src: url('../fonts/helveticaneuecond/helveticaneuecond.eot');
    src: url('../fonts/helveticaneuecond/helveticaneuecond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecond/helveticaneuecond.woff') format('woff'),
         url('../fonts/helveticaneuecond/helveticaneuecond.woff2') format('woff'),
         url('../fonts/helveticaneuecond/helveticaneuecond.ttf') format('truetype'),
         url('../fonts/helveticaneuecond/helveticaneuecond.svg#helveticaneuecond') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Style Tag Document*/
html,* { margin:0; padding:0; -webkit-font-smoothing: antialiased; -webkit-text-stroke:0; }
body{ width:100%; font-weight:normal; padding:0; margin:0; font-size:15px; }
a{ text-decoration:none; cursor: pointer!important;}
a:hover { text-decoration:none; -webkit-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }
div { word-wrap:break-word;}
p{ padding:0; margin:0; }

header,section,content,footer{ width:100%; }

.containermain{ width:90%; margin:0 auto; }
@media (min-width: 1280px) {
	.containermain{ width:1210px; margin:0 auto; }
    #dua .l3{width: 23.9%!important}
}
@media (min-width: 1024px) {
    #dua .l3{width: 23.9%!important}
}


/*HEADER*/
.head{ padding:15px 20px 0px 20px; }
.signup{ text-align:right; padding:8px 0; }
.signup text{ font-size:16px; color:#fff; margin: 0 15px 0 0;}

.headmain{ width:100%; height: 60px; background-color:#fff; }
.headmain .row, .headmain .row > div{ height: 60px; }
.padhead { padding:0 20px; margin:0; height: 45px; overflow: hidden; }
.usermain{ line-height:45px; margin:7.5px 0 5px 0; }
.usermain .userdum{ float:left; }
.usermain text{ float:left; margin:0 5px; font-size:13px; color:#313131; font-weight: bold; }

.notification{ line-height: 0px; margin:2.25px 12px; padding:8px 0; }
.notification .message{ color:#2196f3; }
.notification .message:hover{ color:#1e88e5; }
.notification .message i{ font-size:28px; }
.notification .notifindong{ position: relative; top:-20px; left:-10px; font-size:11px; background: #f44336; color:#fff; padding: 2px 6px; border-radius:2px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
 }

.nav{ width:100%; height: 40px; border-bottom: 4px solid #ff6600; }
.navmenu li{ height: 40px; }
.navmenu li span.badge{ position: relative; margin:0 0 0 20px; padding:3px 6px; background-color: #26a69a;border-radius: 2px;color: #fff; font-size: 15px; font-weight: 300; right: 0px; }
.navmenu li a{ height: 40px; line-height:40px; font-size:16px; color:#cacccd; }
.navmenu li a.active{ border-bottom:4px solid #cacccd; color:#fff; }
.navmenu.menucontent{ display:none; }
.navmob{ display:none; }

.menuutama .subnemuutama{ display:none; }
.menuutama:hover > .subnemuutama{ background:#fff; display:block; position: absolute; z-index:1000; width:225px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.menuutama:hover > .subnemuutama li{ width:100%; }
.menuutama:hover > .subnemuutama li a{ color:#26a69a; font-size: 13px; }
.menuutama:hover > .subnemuutama li a:hover{ border-left:8px solid transparent; font-weight: bold; }

/*CONTENT*/
.absolute{ position: relative; z-index:1; width:100%; height:100%; padding:0 0 130px 0; }
.col-signin{ margin:10% auto 0 auto;}
.col-signup{ margin:0 auto 0 auto;}
.titlin{ text-align:center; color:#fff; margin:8px 0; }
.col-btn-fb{ margin:0 0 4px 0; }
.or{ text-align:center; color:#fff; margin:12px 0 -8px 0; }
.note{ text-align:center; color:#fff; margin:8px 30% 12px 30%; font-size: 15px; }
.signin{ margin:15px 30% 0 30%; padding:25px 12px 8px 12px; background-color:rgba(239, 239, 239, 0.90); }
.signin input[type=text], .signin input[type=password]{ border-bottom: 1px solid #565a5c; }

.contentmain{ width:100%; background-color: #f5f5f5; padding:5px 0; }
.contentsebenarya{ margin:25px 0; }
.menucontent li{ margin:0 0 5px 0; }
.menucontent li .badge{ position: relative; margin:0 0 0 20px; padding:4px; font-size:14px; }
.menucontent li a{ font-size:15px; color:#82888a; }
.menucontent li a:hover{ color:#039be5; }
.menucontent li a.active{ color:#313131; font-weight:bold; }

.menucontent .langkah{ padding:0px; }
.menucontent .langkah .card-panel{ border-bottom:1px dotted #ccc; margin:0px; padding:0px 15px; line-height:50px; border-radius:0px; box-shadow:none; background-color: #edefed; }
.menucontent .langkah.active .card-panel{ margin:0px; padding:0px 15px; line-height:50px; border-radius:0px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);  background-color: #66bb6a !important;
}
.menucontent .langkah .card-panel i{ font-size:30px; }
.menucontent .langkah .card-panel > i{ color:#aaa!important; }
.menucontent .langkah .card-panel > span{ color:#aaa!important; font-size:16px; }
.menucontent .langkah.active .card-panel > span, .menucontent .langkah.active .card-panel > i{ color:#ffffff!important; }
.menucontent .langkah.active .card-panel .mdi-hardware-keyboard-arrow-right:before{ content: "\e899"; }

/*CUSTOM*/
.menucontent .collapsible{
	border-top: none;
	border-right: none;
	border-left: none;
	box-shadow:none;
	margin:0;
}
.menucontent .collapsible .collapsible-header{ 
	display: block;
	cursor: pointer;
	height: 1.2rem;
	line-height: 1.2rem;
	padding: 0;
	background:none;
	border-bottom:none;
}
.menucontent .collapsible .collapsible-body { padding:8px 0 0 0; }
.menucontent .collapsible .collapsible-header{ font-size:13px; color:#82888a; }
.menucontent .collapsible .collapsible-header:hover{ color:#039be5; }
.menucontent .collapsible .collapsible-header.active{ color:#313131; font-weight:bold; }

/*.menucontent .langkah .white-text:before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 10px 20px 1px;
	border-color: transparent transparent transparent #efefef;
	position: relative;
	left:109%;
}*/

.formain{ border: 1px solid #dce0e0; background-color: #fff; border-radius: 0; }
.formhead{ background-color: #edefed; padding:0 15px; overflow: hidden;}
.formhead p{ padding:0 0 5px 0; }
.formhead .pesan{ margin:15px 0 5px 0; }
.titmain{ font-size:18px; color: #565a5c; margin:0; line-height:40px; }

.formbody{ padding:15px 15px 0 15px; color:#565a5c!important; min-height: 500px;}
.formbody .input-field label{ color:#565a5c; }
.formbody .input-field textarea:focus{ border-bottom: 1px solid #565a5c!important; box-shadow: 0 1px 0 0 #565a5c!important; }

.formbody li.listanggonew{ margin:0 0 8px 0; padding:5px 0; box-shadow: 0 1px 0 0 #efefef!important; }
.formbody .btn{ margin:0 4px 8px 0;}

.formbody li.listanggodaf{ margin:0 0 8px 0; padding:5px 0; box-shadow: 0 1px 0 0 #efefef!important; }
.formbody li.listanggodaf .userangoota{ font-size:15px; color:#313131!important; }
.formbody li.listanggodaf .titleproduct{ font-size:16px; margin:0 0 8px 0; }

.formbody .listline{ margin:0 0 8px 0; padding:5px 0; box-shadow: 0 1px 0 0 #efefef!important; }

.navthum{ width: 12%!important; float: right!important; }
.navthum li{ float:right; height: 40px; }
.navthum li i{ font-size:42px; color:#ddd; }

.line{ margin:10px 0 5px 0; width:100%; border-bottom: 1px solid #eee; overflow: hidden; }
.linehead{ font-weight:bold; float:left; padding:10px 0; width:100%; border-bottom: 1px solid #efefef; font-size:15px; margin:8px 0 18px 0; }
.linehead .fa{ margin-right:5px; }
.linehead .labelisasi{ padding:0 18px 0 0 ; }

.formdetilpup { border-bottom:1px solid #efefef; }
.formdetilpup p b{ padding:0 5px 0 0; }

.varsto{ padding:5px; margin:10px 0 20px 0; width: 100%; float:left; }
.nota-product{ margin:0 0 8px 0; }
.nota-product p{ padding-left:0px; }

.upbottom{ padding:45px 0 90px 0; }
.title-faq{ font-size:24px; line-height:24px; margin: 8px 0 5px 0; }

/*FOOTER*/
.footer{ position:fixed; bottom:0; left:0; }
.footer a{ font-size:14px; color:#fff; margin:0 5px; }
.footer a:hover{ color:#039be5; }

footer.page-footer{ margin-top: 0px; }
.footer-copyright a{ margin:0 0 0 5px;}

.select-wrapper .mdi-navigation-arrow-drop-down {
    right: -10px;
}

.footernota{ padding:80px 0 40px 0; }

#duser{
    left: none;
    right: 1px;
    width: 200px!important;
}
#duser li{ line-height: 12px; }

.prefix-gan{
	background: #03a9f4 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff !important;
    font-size: 0.9rem !important;
    margin: 15px 15px 0 0;
    padding: 5px 10px;
    width: auto!important;
}

.input-field .prefix-gan ~ input {
    margin-left: 4rem;
    width: calc(100% - 4rem);
}

.modal {z-index: 10000;}

.selectize-input > input {
    max-height: 20px !important;
}

.selectize-input {
    border: 1px solid #9e9e9e;
    border-radius: 0px;
    box-shadow: none;
}