/*
 * Author : fatoni.work@gmail.com
 */
 
@charset "utf-8";
@font-face{
    font-family: 'proximanova-regular';
    src: url('../fonts/proximanova/proximanova-regular.eot');
    src: url('../fonts/proximanova/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova/proximanova-regular.woff2') format('woff'),
         url('../fonts/proximanova/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-regular.svg#proximanova-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Style Tag Document*/
html,* { margin:0; padding:0; -webkit-font-smoothing: antialiased; -webkit-text-stroke:0; }
body{ width:100%; font-family: 'proximanova-regular'; font-weight:normal; padding:0; margin:0; font-size:12px; }
a{ text-decoration:none; }
a:hover { text-decoration:none; -webkit-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }
div { word-wrap:break-word;}
p{ padding:0; margin:0; }

header,section,content,footer{ width:100%; }
.containermain{ width:80%; margin:0 auto; }

/*HEADER*/
.head{ padding:15px 20px 8px 20px; }
.signup{ text-align:right; padding:8px 0; }
.signup text{ font-size:16px; color:#fff; margin: 0 15px 0 0;}

.headmain{ width:100%; height: 45px; background-color:#fff; border-bottom: 1px solid #dce0e0; }
.padhead { padding:0 20px; margin:0; height: 45px; overflow: hidden; }
.usermain{ line-height:40px; margin:2.25px 0; }
.usermain .userdum{ float:left; }
.usermain text{ float:left; margin:0 5px; font-size:13px; color:#313131; }

.nav{ width:100%; height: 40px; }
.navmenu li{ height: 40px; }
.navmenu li a{ height: 40px; line-height:40px; font-size:14px; color:#cacccd; }
.navmenu li a.active{ border-bottom:4px solid #cacccd; color:#fff; }
.navmenu.menucontent{ display:none; }
.navmob{ display:none; }

/*CONTENT*/
.absolute{ position: absolute; z-index:1; width:100%; height:100%; }
.col-signin{ margin:10% auto 0 auto;}
.col-signup{ margin:0 auto 0 auto;}
.titlin{ text-align:center; color:#fff; margin:8px 0; }
.col-btn-fb{ margin:0 0 4px 0; }
.or{ text-align:center; color:#fff; margin:12px 0 -8px 0; }
.note{ text-align:center; color:#fff; margin:8px 30% 12px 30%; font-size: 13px; }
.signin{ margin:15px 30% 0 30%; padding:8px 12px; background-color:rgba(239, 239, 239, 0.90); }
.signin input[type=text], .signin input[type=password]{ border-bottom: 1px solid #ff7043; }

.contentmain{ width:100%; background-color: #f5f5f5; padding:5px 0; }
.contentsebenarya{ margin:25px 0; }
.menucontent li{ margin:0 0 5px 0; }
.menucontent li .badge{ position: relative; margin:0 0 0 20px;}
.menucontent li a{ font-size:13px; color:#82888a; }
.menucontent li a:hover{ color:#039be5; }
.menucontent li a.active{ color:#313131; font-weight:bold; }

.menucontent .langkah{ padding:0px; }
.menucontent .langkah .card-panel{ margin:0px; padding:0px 15px; line-height:50px; border-radius:0px; box-shadow:none; background-color: #edefed; }
.menucontent .langkah.active .card-panel{ margin:0px; padding:0px 15px; line-height:50px; border-radius:0px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);  background-color: #66bb6a !important;
}
.menucontent .langkah .card-panel i{ font-size:30px; }
.menucontent .langkah .card-panel > span, .menucontent .langkah .card-panel > i{ color:#cdcdcd!important; }
.menucontent .langkah.active .card-panel > span, .menucontent .langkah.active .card-panel > i{ color:#ffffff!important; }
.menucontent .langkah.active .card-panel .mdi-hardware-keyboard-arrow-right:before{ content: "\e899"; }

/*.menucontent .langkah .white-text:before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 10px 20px 1px;
	border-color: transparent transparent transparent #efefef;
	position: relative;
	left:109%;
}*/

.formain{ border: 1px solid #dce0e0; background-color: #fff; border-radius: 0; }
.formhead{ background-color: #edefed; padding:0 15px; }
.formhead p{ padding:0 0 5px 0; }
.titmain{ font-size:16px; color: #565a5c; margin:0; line-height:40px; }

.formbody{ padding:15px 15px 0 15px; color:#565a5c!important; }
.formbody .input-field label{ color:#565a5c!important; }
.formbody .input-field textarea:focus{ border-bottom: 1px solid #f4511e!important; box-shadow: 0 1px 0 0 #f4511e!important; }

.formbody li.listanggonew{ margin:0 0 8px 0; padding:5px 0; box-shadow: 0 1px 0 0 #efefef!important; }
.formbody button{ margin:0 4px 0 0;}

.formbody li.listanggodaf{ margin:0 0 8px 0; padding:5px 0; box-shadow: 0 1px 0 0 #efefef!important; }
.formbody li.listanggodaf .userangoota{ font-size:14px; }

.linehead{ border-bottom: 1px solid #efefef; font-size:13px; margin:0 0 8px 0;}
.linehead .fa{ margin-right:5px; }

/*FOOTER*/
.footer{ position:fixed; bottom:0; right:0; }
.footer a{ font-size:14px; color:#fff; margin:0 5px; }
.footer a:hover{ color:#039be5; }

footer.page-footer{ margin-top: 0px; }
.footer-copyright a{ margin:0 0 0 5px;}


/*DINAR*/
.div-circle-logo{margin-top: 10px;}
.circle-logo{border-radius: 50%;width: 100px;height: 100px;text-align: center;border: 1px solid #eee;}
